* text=auto
*.rb text
*.html text
*.js text
*.css text
*.scss text
*.jpg binary
*.png binary
*.jbuilder text
*.erb text
bin/** text
*.yml text
*.enc binary
*.gitlab text
*.txt text
*.rspec text
*.ruby-version text
*.ru text
Dockerfile text
Gemfile text
*.lock text
*.json text
Rakefile text
*.md text