<div class="container">
  <div class="row">
    <div class="col">
      <h1>Goles</h1>

      <table style="width:100%">
        <thead>
          <tr>
            <th>Equipo anotador</th>
            <th>Jugador</th>
            <th>Minuto</th>
          </tr>
        </thead>
        
        <tbody id="goals-polling">
          <%= render partial: 'goals/goals', locals: { goals: @goals } %>
        </tbody>
      </table> 
    </div>
  </div>
</div>
