<div class="container">
  <div class="row">
    <div class="col">
      <h1>Goles</h1>

      <table style="width:100%" id="goals">
        <thead>
          <tr>
            <th>Equipo anotador</th>
            <th>Jugador</th>
            <th>Minuto</th>
          </tr>
        </thead>
        
        <tbody>
          <%= render partial: 'goals/goals', locals: { goals: @goals } %>
        </tbody>
      </table> 
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    polling(<%= @match.id %>);
  });
</script>